.snakemake/
card_db/
card_out/
cd-hit/
data/
logs/
mapped_reads_resfinder/
mapped_reads_card/
mapped_reads_MGE/
metaphlan3/
metaxa2/
MGE_db/
MGE_out/
resfinder_db/
resfinder_out/
sorted_reads_resfinder/
sorted_reads_card/
sorted_reads_MGE/
trimmed_data/